img {
    border-radius: 20px;
}
.btn-success {
    cursor: pointer;
}

.navbar-nav .nav-link.active {
    color: #fff;
}

.nav-link {
    text-align: center;
}

.linha-azul {
    width: 700px;
    height: 2px;
    background-color: rgb(0, 80, 201);
    margin: 40px;
}


body {
    font-family: Arial, sans-serif;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #f8f9fa;
}

@media (min-width: 1200px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (max-width: 767.98px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}